In [1]:
# Question 1: Print Your Name with your Father name and Date of birth using suitable escape sequence character
print("Name: Ali Hyder\nFather's Name: Muhammad Rafique\nDate of Birth: 20-May-1997")

Name: Ali Hyder
Father's Name: Muhammad Rafique
Date of Birth: 20-May-1997

In [2]:
# Question 2: Write your small bio using variables and print it using print function
name = "Ali Hyder"
education = "BS IT"
company = "Auriga Solution"
job_title = "IT Officer"
 
print("My name is", name)
print("I have completed", education)
print("I am working at", company, "as an", job_title)

My name is Ali Hyder
I have completed BS IT
I am working at Auriga Solution as an IT Officer

In [3]:
# Question 3: Write a program in which use all the operators we can use in Python
a, b = 10, 3
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Floor Division:", a // b)
print("Modulus:", a % b)
print("Exponent:", a ** b)
 
print("Equal:", a == b)
print("Not Equal:", a != b)
print("Greater:", a > b)
print("Less:", a < b)
print("Greater or Equal:", a >= b)
print("Less or Equal:", a <= b)
 
p, q = True, False
print("Logical AND:", p and q)
print("Logical OR:", p or q)
print("Logical NOT:", not p)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Exponent: 1000
Equal: False
Not Equal: True
Greater: True
Less: False
Greater or Equal: True
Less or Equal: False
Logical AND: False
Logical OR: True
Logical NOT: False

In [4]:
# Question 4: Mention Marks of English, Islamiat and Maths then calculate Percentage
english, islamiat, maths = 85, 78, 92
total_marks = 300
obtained = english + islamiat + maths
percentage = (obtained / total_marks) * 100
print("Percentage:", percentage, "%")

Percentage: 85.0 %

##Part-2: Conditional Statements

In [7]:
# Question 5: Bonus 5% if service > 5 years
salary = 50000
years = 6
 
if years > 5:
    bonus = salary * 0.05
    print("Net Bonus:", bonus)
else:
    print("No Bonus")

Net Bonus: 2500.0

In [8]:
# Question 6: Check voting eligibility (age > 17)
age = 18
if age > 17:
    print("Eligible for voting")
else:
    print("Not eligible")

Eligible for voting

In [9]:
# Question 7: Check whether a number is even or odd
num = 7
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [10]:
# Question 8: Check whether number is divisible by 7
num = 49
if num % 7 == 0:
    print("Divisible by 7")
else:
    print("Not Divisible")

Divisible by 7

In [11]:
# Question 9: Print Hello if multiple of 5 else Bye
num = 20
if num % 5 == 0:
    print("Hello")
else:
    print("Bye")

Hello

In [12]:
# Question 10: Calculate Electricity Bill
units = 350
 
if units <= 100:
    bill = 0
elif units <= 300:
    bill = (units - 100) * 5
else:
    bill = (200 * 5) + (units - 300) * 10
 
print("Total Bill: Rs", bill)

Total Bill: Rs 1500

In [13]:
# Question 11: Display last digit of a number
num = 1234
print("Last Digit:", num % 10)

Last Digit: 4

In [14]:
# Question 12: Check if rectangle or square
length, breadth = 10, 10
if length == breadth:
    print("Square")
else:
    print("Rectangle")

Square

In [15]:
# Question 13: Take two int values and print greatest
a, b = 15, 25
if a > b:
    print("Greatest:", a)
else:
    print("Greatest:", b)

Greatest: 25

In [16]:
# Question 14: Shop discount if cost > 1000
quantity = 12
cost = quantity * 100
 
if cost > 1000:
    cost = cost - (0.1 * cost)
 
print("Total Cost:", cost)

Total Cost: 1080.0

In [17]:
# Question 15: Grading System
marks = 72
if marks < 25:
    grade = 'F'
elif marks < 45:
    grade = 'E'
elif marks < 50:
    grade = 'D'
elif marks < 60:
    grade = 'C'
elif marks < 80:
    grade = 'B'
else:
    grade = 'A'
 
print("Grade:", grade)

Grade: B

In [18]:
# Question 16: Oldest and Youngest among 3 people
a, b, c = 25, 40, 30
print("Oldest:", max(a, b, c))
print("Youngest:", min(a, b, c))

Oldest: 40
Youngest: 25

In [19]:
# Question 17: Attendance percentage check
classes_held = 100
classes_attended = 80
percentage = (classes_attended / classes_held) * 100
 
print("Attendance:", percentage, "%")
if percentage >= 75:
    print("Allowed in Exam")
else:
    print("Not Allowed")

Attendance: 80.0 %
Allowed in Exam

In [20]:
# Question 18: Attendance check with medical cause
classes_held = 100
classes_attended = 60
medical = 'Y'
 
percentage = (classes_attended / classes_held) * 100
print("Attendance:", percentage, "%")
 
if percentage >= 75 or medical == 'Y':
    print("Allowed in Exam")
else:
    print("Not Allowed")

Attendance: 60.0 %
Allowed in Exam

In [21]:
# Question 19: Check Leap Year
year = 2000
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Leap Year

In [22]:
# Question 20: Place of Service (age, gender, marital status)
age = 35
gender = 'M'
marital_status = 'Y'
 
if gender == 'F':
    print("Urban Areas Only")
elif gender == 'M' and 20 <= age < 40:
    print("Anywhere")
elif gender == 'M' and 40 <= age <= 60:
    print("Urban Areas Only")
else:
    print("ERROR")

Anywhere